// colors

$blue-bg-color: #1eaed2;
$white-bg-color: #fff;
$catalog-color: #f8f8f8;
$section-catalog-bg-color: rgba(49,49,49, .9);
$orange-bg-color: rgb(234,92,44);
$green-bg-color: #009e51;
$section-services-bg-color: #e8e8e8;
$section-preferences-bg-color: #d7d7d7;

//font-colors

$font-gray: #424242;
$font-white: #fff;

// sizes

$site-width-outer: 1920px;
$site-width-inner: 1170px;


// Default variables for select

$font_size: 14px;
$font_size_small: 12px;

$input_border_radius: 5px;
$input_height: 42px;
$input_height_small: 36px;
$dropdown_padding: 18px;

$gray_dark: #444;
$gray: #999;
$gray_light: #e8e8e8;
$gray_lighter: #f6f6f6;
$primary_light: rgb(234,92,44);
$arrow_color: rgb(234,92,44);


